<!DOCTYPE html>
<html lang="en-us">
  {{{ie}}}
  {{{header}}}
  <body>
    <div id="page-wrap">
      {{{nav}}}
      <article id="content">
        {{{content}}}
      </article>
      {{{footer}}}
    </div>
  </body>
</html>
