<div>
  <header id="header">
    <div class="logo">
      <h1><a href="/"><span class="logo-black">{{site-main-title}}</span></a></h1>
    </div>
    <div class="fortune">
      <blockquote>
        {{site-sub-title}}
      </blockquote>
    </div>
    <ul id="main-nav">
      {{#nav-categories}}
        <li><a href="{{category-uri}}">{{category-name}}</a></li>
      {{/nav-categories}}
      <li><a href="/tags/">分类</a></li>
      <li><a href="/about/">关于我</a></li>
      <li><a href="{{github}}">GitHub</a></li>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
  </header>
</div>
